@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  body {
    @apply bg-softWhite text-charcoal font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
